// White theme

// Color variables
$black: #2B2826;
$gray-dark: #423F38;
$gray: #A09992;
$gray-light: #D7D5D1;
$white: #f8f8f8;
$burgundy: #B54545;

// month colors
$jan: #629cd3;
$feb: #3db2e3;
$mar: #29bcbb;
$apr: #55c190;
$may: #84ca60;
$jun: #aec92c;
$jul: #e1d42b;
$aug: #fec725;
$sep: #f49f3c;
$oct: #f98b4e;
$nov: #ea5d4c;
$dec: #e84f59;

// invert
$ijan: #d39962;
$ifeb: #e36e3d;
$imar: #bc292a;
$iapr: #c15586;
$imay: #a660ca;
$ijun: #472cc9;
$ijul: #2b38e1;
$iaug: #255cfe;
$isep: #3c91f4;
$ioct: #4ebcf9;
$inov: #4cd9ea;
$idec: #4fe8de;

// Config
$color-background: $white !default;
$color-foreground: $black !default;
$color-body-text: $black !default;
$color-text-accent: $gray-dark !default;
$color-code: $gray-dark !default;
$color-link-hover: $isep !default;
$color-primary-link: $sep !default;
$color-nav-link: $color-primary-link !default;
$color-primary-underline: $color-primary-link !default;
$color-border: $gray-light !default;
$color-title: $color-primary-link !default;




// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
